#theHeader 
{
	color:#8FBE00;
	position:absolute;
	width:300px;
	height: 85px;
	background: #F9F2E7;
	border-style:ridge;
	border-width:6px;
	border-color:#40C0CB;
	left:38.6%;
	top:10%;
}

#headerText
{
	position:absolute;
	left:9%;
	top:-5%;
	font-size:80px;
	text-align:center;
	font-family:'Montserrat', sans-serif; font-weight: 700;
}

body 
{
	background-color: #00A8C6;
}

#videos
{
	position:relative;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

iframe 
{
	position:relative;
	margin: 0 auto;
	top:240px;
	border-radius:8px;
	border-style:ridge;
	border-width:6px;
	border-color:#40C0CB;
}

a
{
	text-decoration:none;
	color:#8FBE00;
}

a:hover
{
	color:#40C0CB;
}

.title
{
	text-shadow: -1px -1px 0 #40C0CB,
    1px -1px 0 #40C0CB,
    -1px 1px 0 #40C0CB,
    1px 1px 0 #40C0CB;
	position: relative;
	top:240px;
	margin: 0 auto;
	color:#8FBE00;
	font-size:40px;
	text-align: center;
}