#theHeader 
{
	color:#8FBE00;
	position:relative;
	width:300px;
	height: 85px;
	background: #F9F2E7;
	border-radius:8px;
	border-style:ridge;
	border-width:6px;
	border-color:#40C0CB;
	margin:0 auto;
	top:100px;
}

#headerText
{
	position:absolute;
	left:9%;
	top:-5%;
	font-size:80px;
	text-align:center;
	font-family:'Montserrat', sans-serif; font-weight: 700;
}

body 
{
	background-color: #00A8C6;
}

#videos
{
	position:relative;
	margin: 0 auto;
}

iframe 
{
	position:relative;
	float:left;
	top:240px;
	border-radius:8px;
	border-style:ridge;
	border-width:6px;
	border-color:#40C0CB;
}

.title
{
	position;relative;
	top:240px;
	margin: 0 auto;
	color:#8FBE00;
	font-size:25px;
}