<!DOCTYPE html>
<html>
	<head>
	<link rel = "stylesheet" type= "text/css" href = "../static/thecss.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="../static/favicon.ico">
	</head>

	<div id = "theHeader">
		<font size = "85" id = "headerText"><a href = "/" style="text-decoration: none">Paidia</a></font>
	</div>

	<body>
			<div id = "container">
				<form action = "/" method = "POST">
					<input type = "text" name = "steamID" placeholder = "Input steam username">
					<input type= "submit" value= "Submit"style="position:absolute; left: -9999px"/>
				</form>
				<br>
				<br>
				<br>
	{{Error}}
			</div>

	</body>
</html>

