{% extends "base.html" %}

{% block content %}
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<table >
        <tr>
            <th>Games Own</th>
            <th>Hours played</th>
        </tr>
    {% for key, value in games.iteritems() %}

        <tr>
            <th><a href="https://www.youtube.com/results?search_query={{names [key]}}"target="_blank"> {{names[key]}} </a></th>
            <td> {{value}}</td>

        </tr>
    {% endfor %}
</table>

<br>
<br>

    <form action="/" method="POST">
        <select name="Select_galaxies">
    {% for i in range (list|length) %}
            <option value="{{list}}">{{list[i]}}</option>
            {% endfor %}
        </select>
        </form>
{% endblock %}