<!DOCTYPE html>
<html>
	<head>
	<link rel = "stylesheet" type= "text/css" href = "../static/search.css">
	</head>

	<div id = "theHeader">
		<font color = "#8FBE00" size = "85" id = "headerText">Paidia</font>
	</div>

	<body>
	
	<form action="/" method="post">
		<input type="text" name="steamID" value="{{ name }}" placeholder="Enter a username here">
    <input type="submit" value="See games now!">

	<br>

		<select onchange = "window.location='/video/{{games[num]}}'">
		{% for num in range (games|length) %}

			<option value="{{games}}">{{games[num]}}</option>

	{% endfor %}
		</select>
		</form>
	</body>
</html>