<!DOCTYPE html>
<html>
	<head>
	<link rel = "stylesheet" type= "text/css" href = "../static/search.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	</head>

	<div id = "theHeader">
		<font color = "#8FBE00" size = "85" id = "headerText"><a href = "/" style="text-decoration: none">Paidia</a></font>
	</div>

	<body>
	


</select>
		</form>
		<br>
		<table>
        <tr>
            <th>Games Owned</th>
            <th>Hours played</th>
        </tr>
    {% for key, value in games.iteritems() %}

        <tr>
            <td><a href="/video/{{ names[key] }}"> {{names[key]}} </a></td>
            <td> {{value}}</td>

        </tr>
    {% endfor %}
</table>

	</body>
</html>