<!DOCTYPE html>
<html>

	<head>
		<link rel = "stylesheet" type= "text/css" href = "../static/videos.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="../static/favicon.ico">
	</head>

	<div id = "theHeader">
		<font size = "85" id = "headerText"><a href = "/">Paidia</a></font>
	</div>

	<div id = "videos">
	{% for x in blah %}
			<div class = "title">
			{{titles[x]}}
			</div>
			<br>
			<iframe width = "800" height = "450" align="center" src = "{{linx[x]}}"></iframe>
			<br>
		<br>
		<br>
			<br>
	{% endfor %}
	</div>
</html>